*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "calibri";
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.container{
    width: 35em;
    height: 35em;
    border: 3px double darkblue;
    border-radius: 2em;
    position: relative;
    background-color: aqua;
}

.judul{
    position: absolute;
    left: 50%;
    top: 2.3em;
    font-size: 2.5em;
    font-weight: bold;
    transform: translateX(-50%);
    color: darkcyan;
}

.date{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
    width: 14.5em;
    font-size: 2em;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    transition: .4s;
    border: 1px solid green;
    background-color: azure;
}

.date:hover{
    box-shadow: 0 0 2px 2px green;
}

.hitung{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14.5em;
    border-radius: 5px;
    border: 2px solid darkgreen;
    padding-top: 5px;
    top: calc(50% + 1.2em);
    font-size: 2em;
    background-color: aquamarine;
    color: rgb(0, 30, 139);
    transition: .4s;
}

.hitung:hover{
    border-color: green;
    box-shadow: 0 0 6px 2px green;
}

.umur{
    /* border: 1px solid black; */
    width: 15em;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.8em;
}